
.container {
    background-color: beige;
    padding: 50px;
    text-align: center;
}

.ingredients,
.steps {
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

img {
    height: auto;
    width: 500px;
}